<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Formulario de géneros</h2>
        <div>
            <form th:action="@{/generos}" th:object="${genero}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="nombre" class="form-control-sm">Nombre:</label>
                        <input type="text" th:field="*{nombre}" id="nombre" name="nombre" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-4">
                        <label for="carpeta" class="form-control-sm">Carpeta</label>
                        <input type="text" th:field="*{carpeta}" id="carpeta" name="carpeta" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-2 mt-4">
                        <input type="checkbox" id="hab" th:field="*{hab}" name="hab" class="form-check-input m-2">
                        <label for="hab" class="form-check-label form-control-sm">Habilitado</label>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success me-2" type="submit" name="action" value="guardar">Guardar</button>
                    <a href="/listageneros" class="btn btn-light" role="button">Cancelar</a>
                </div>
            </form>
        </div>
    </body>
</html>
